.song-buttons-container {
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;   
}
.song-buttons-container img {
    width: 170px;
}

@media (max-width:900px){
    .song-buttons-container {grid-template-columns: 1fr 1fr 1fr;}
}

@media (max-width:600px){
    .song-buttons-container {grid-template-columns: 1fr 1fr;}
}

@media (max-width:399px){
    .song-buttons-container {grid-template-columns: 1fr;}
}

.song-buttons-container
{
    text-align: center;
}

.song-button
{
    width: 95%;
    border-radius: 7px;
    color: white;
    margin: auto;
    text-align: center;
    height: 50px;
}

.song-button span
{
    line-height: 50px !important;
}

.song-button:hover
{
    background-color: orange!important;
    color: black !important;
    border: solid 1px black !important;
}

.song-display-container
{
    text-align: center;
    margin: 30px 0px 100px 0px;
}

#song-display
{
    display: inline-block;
    width: 50%;
    background-color: rgb(246, 205, 139);
    border: solid 5px black;
    border-radius: 20px;
    margin: 20px 0px 50px 0px;
}

#song-display-lyrics
{

}
#song-display-rythm
{
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}