#showcase {
    
    background: url(/resources/showcase_colonies.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 300px;
    
    color: aliceblue;
    text-align: center;
}
#showcase h1 {
    font-size: 30px;
    margin-top: 100px;
    
}

/*---Intro ---*/
#intro {
    background-color: whitesmoke;
    text-align: center;
    padding: 2% 20%;
}

#intro p {
    color: black; 
}

section {
    text-align: center;
    padding 5px;
}

section ul {
    
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    
}

section li {
    float: left;
    padding: 5px 20px;
}

#buttons {
    background-color: darkgreen;
}

button {
    
    background-color: darkgreen;
    border: 0;
    padding: 3px 10px;
    color:  white;
    
}

button:hover {
    
    /*background: green;*/
    font-weight: bold;
    
}

section #grups{
    
    background-color: whitesmoke;
    
}

.grup {
    display:none;
    align-items: center;
}

.grup img {
    width: 300px;
    display: inline-block;
}
.grup p {
    display: inline-block;
    width: 220px;
}

/*Responsive*/
@media (max-width:426px) {
    
    .grup li{
        
        padding: 0;
        float: none;
        
    }
    .grup {
        padding: 0px;
    }
    

}










