body {
  
    background-color: whitesmoke;
    font-family: 'Bitter', serif;
    font-family: 'Muli', sans-serif;
    padding: 0;
    margin: 0;
}

/*-------Container-------*/
/*--PC--*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*----Option Bar-----*/

header {
    min-height: 70px;
    background-color: darkgreen;
}

header #logo {
    float: left;
}
header #logo img {
    max-height: 70px;
    
}

header nav {
    float: right;  
}

nav {
    margin-top: 10px;
}
nav ul {
    margin: 0;
    overflow: hidden;
    padding: 0;
    float: left;
}

nav ul li {
    float:left;
    list-style: none;
}

nav ul li a {
    display:block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

header a:hover{
    font-weight: bold;
}



/*---Footer ---*/

footer {
    background-color: darkgreen;
    text-align: right;
}

footer p {
    line-height: 1;
    font-size: 12px;
    color: white;
    
}

/*----Contacte -----*/

.contact {
    background-color:darkgreen;
    text-align: center;
    padding: 5px;
}

.contact ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-block;
}

.contact li{
    float:left;
}

.contact li a {
    text-align: center;
    padding: 6px 15px 6px 15px;
    display: inline-block;
}
.contact img {
    width: 60px;
    margin: 0;
    padding: 0;
    
}

.separator {
    height: 4px;
    background: radial-gradient(circle, darkgreen, rgba(255,0,0,0));
    margin: 5px;
}


.activitats {
    align-items: center;
}

.activitats li {
    float:left;
}

.activitats img {
    width: 300px;
    display:inline-block;
}
.activitats li p {
    width: 300px;
}
/*-------------------------------------------*/
#intro {
    background-color: whitesmoke;
    text-align: center;
    padding: 2% 20%;
}

#intro p {
    color: black; 
}

section {
    text-align: center;
    padding 5px;
}

section ul {
    
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    display: inline-block;
    
}

section li {
    float: left;
    padding: 5px 20px
}

/*---Cell Phone ---*/
/*- Para evitar la deformacion usaremos parametros diferentes en funcion del dispositivo que use la web*/
@media (max-width:426px) {
    
    .container {width: 95%;}
    .activitats li {padding:0; float: none}
    #intro {padding:2%;}

}
@media (max-width:768px){
    .container {width: 85%;}
}
@media (max-width:1025px) {
    .activitats li {float:none; padding:0;}
}






