#contact-form {
    width: 60%;
    text-align: center;
    margin: 10px auto;
    background-color: #1E1F21;
    padding: 10px 10px;
    color: whitesmoke
    
}

.form-control {
    width: 60%;
    background: whitesmoke;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 10px;
}

.form-control-message {
    width: 60%; height: 60px;
    background: whitesmoke;
    font-family: 'Dosis', sans-serif;
    margin-bottom: 10px;
}

form button {
    background: #FF6D41;
    color: whitesmoke;
    font-size: 15px;
    border: none;
    padding: 3px 10%;
    
}

.grid {
    display: grid; grid-template-columns: 1fr 1fr;
    margin: 10px 0px;
}
.dades-contacte {
    margin: 100px 20%;
    font-size: 19px;
}
.mapa {
    height: 400px;
    text-align: center;
}

@media (max-width:900px){
    .grid{grid-template-columns: 1fr;}
    .dades-contacte {margin: 15px 25%;}
}

@media (max-width:600px){
    .form-control{width: 85%;}
    .form-control-message{width: 85%;}
    #contact-form {width: 85%;}
    .mapa{height: 300px;}
}

@media (max-width:399px){
    #contact-form {width: 95%;}
    .dades-contacte{margin: 15px auto;}
}