body {
  
    background-color: whitesmoke;
    font-family: 'Dosis', sans-serif;
    padding: 0;
    margin: 0;
}

h1 , h2{font-family: 'Ubuntu', sans-serif;}
/*-------Container-------*/
/*--PC--*/
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/*----Option Bar-----*/

header {
    min-height: 70px;
    background-color: #1E1F21;
    align-content: center;
}

header h2 img {
    height: 25px;
    width: 25px;
}

nav {
    
    float: right;
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
    width: 720px;
}

nav a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

header a:hover{
    font-weight: bold;
}



/*---Footer ---*/

footer {
    margin-top: 25px;
    padding: 20px;
    background-color: #1E1F21;
    text-align: center;
    line-height: 1;
}

footer p {
    font-size: 12px;
    color: white;
    
}

footer a {
    color: white;
    text-decoration: none;
}

.logos {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin: auto 5px;;
}

a svg:hover #facebook,
a svg:hover #linkedin {
    fill: #FF6D41;
}

.referencia {
    color: white;
    font-size: 12px;
}

.referencia a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/*-------------------------------------------*/

section {
    text-align: center;
    padding 5px;
}

/*---Cell Phone ---*/
/*- Para evitar la deformacion usaremos parametros diferentes en funcion del dispositivo que use la web*/
@media (max-width:900px){
    nav {grid-template-columns: 1fr 1fr 1fr; float:none; width: 100%;}
    .container {width: 85%;}
}

@media (max-width:600px){
    .container{width: 90%;}
}

@media (max-width:399px){
    nav {grid-template-columns: 1fr 1fr;}
    .container {width: 95%;}
}









