h1 {text-align: center;}

button{margin-left: 10%; margin-right: 10%; margin-bottom: 5px; margin-top 5px;
    background-color: transparent;
    color: #1E1F21;
    border 1px;
    border-style: solid;
    border-color: #1E1F21;
    padding: 5px;
}

button:hover{
    font-weight: bold;
}

button svg {
    height: 75px;
    fill: #1E1F21;
}

#info {
    width: 50%; margin: auto;
    padding-left: 5%; padding-right: 5%;
    color: #1E1F21;
    border 1px;
    border-style: solid;
    border-color: #1E1F21;
}

.grid {
    display: grid; grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 20px;
    
}

@media (max-width:900px){
    .grid {grid-template-columns: 1fr 1fr 1fr;}
    #info{width: 60%;}
}

@media (max-width:600px){
    .grid {grid-template-columns: 1fr 1fr;}
    #info{width: 80%;}
}

@media (max-width:399px){
    .grid {grid-template-columns: 1fr;}
    #info{width: 85%;}
}
